* {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

@font-face {
    font-family: very_cool;
    src: url(./fonts/AnekMalayalam-Medium.ttf);
}

@font-face {
    font-family: very_cool_bold;
    src: url(./fonts/AnekMalayalam-Bold.ttf);
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
}

.background-area {
    position: relative;
    background-image: url(./assets/jhoto.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 30vw;
}

.image-overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 6rem;
    opacity: 50%;
    top: 14%;
    right: 0;
    left: 0; 
}

.image-overlay img {
   height: 6rem;
}

.right-side {
    background-color: #652f35;
    flex: 3;
    display: flex;
    flex-direction: column;
}

.right-text-desc {
    padding-left: 60px;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 60%;
}

.right-text-desc p {
    font-family: very_cool; 
}

.right-text-desc2 {
    margin-bottom: 70px;
    padding-left: 60px;
    width: 60%;
}


input {
    width: 200px;
    height: 20px;
    font-size: 0.8rem;
    opacity: 50%;
}
button {
    border: none;
    text-decoration: none;
    background-color: #bf7f6b;
    border-radius: 5px;
    width: 275px;
    height: 60px;
}
.sign-up {
    display: flex;
    text-align: start;
    padding-left: 60px;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.sign-up p {
    font-family:  very_cool_bold, sans-serif;
}

#mainForm {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    font-family: 'Courier New', Courier, monospace;
}

label[for] {
    display: flex;
    flex-direction: column;
}

.bottomSection {
    margin-top: 50px;
    padding-left: 60px;
}

